{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="{{ url_for('login') }}" method="post" onsubmit="return validateLogin();">
        <p></p>
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" id="frusername" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" id="frpassword" type="password"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </fieldset>
    </form>
    {% for row in random_rows %}
        <div class = "product_box">
            <a href="{{ url_for('itm_page', item_id=row["item_id"]) }}">
                <img src="{{ url_for('static', filename='images/')}}{{row["item_id"]}}.jpg" onerror="this.src='{{ url_for('static', filename='images/handsomedan.jpg')}}'" class=clipped>
                <div class = "basic_text">
                    <h4>{{ row["item_name"] }}</h4>
                    <p>{{ row["timestamp"] }}</p>
                    <p>Current Bid: {{ row["current_bid"] | usd }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}
